cargo-features = ["codegen-backend"]
[workspace]
members = [
    "mazer-cli",
    "mazer-dbg",
    "mazer-parser",
    "mazer-lisp",
    "mazer-html",
    "mazer-render",
]

resolver = "3"

[profile.dev]
debug = 0
codegen-backend = "cranelift"
